<div class="container-fluid">

  <!-- Encabezado con logo y nombre de la sección -->
  <div class="row pt-3 pb-2 bg-default-color">
    <div class="col-6">
      <img ngSrc="assets/Logo.svg" height="40" width="40" class="img-thumbnail mx-2"
           style="cursor: pointer" [routerLink]="['/homepage']" alt="logo">
      <span class="h5">Nido {{"- " + nest?.assignedID}}</span>
    </div>
    <div class="col-6">
      <span class="float-end link-info">{{ this.currentUser.name }} {{ this.currentUser.lastName }}</span>
    </div>
  </div>
  <!-- Botones de acción -->
  <div class="row">
    <div class="col-6 py-2">
      <button class="btn bg-button-red w-25 h-75 border-botton-homepage m-2 shadow" (click)="goBack()">
        <span>Regresar</span>
      </button>
    </div>
  </div>

  <div class="row  border-bottom py-3">
    <div class="offset-1 col-5">
      <span class="h3">Identificador de registros: {{this.recordsId}}</span>
    </div>
    <div class="col-5" *ngIf="nest.nestBehavior">
      <span class="h3 align-content-end">Comportamiento: {{nest?.nestBehavior}}</span>
      <br>
      <span class=" align-content-end">Porcentaje de registros clasificados como normal: {{percentage | number:'1.2-2' }}%</span>

    </div>
  </div>


  <mat-tab-group dynamicHeight>
    <mat-tab label="Datos generales del nido">
      <div class="example-large-box mat-elevation-z4">
        <app-general [nest]="nest"></app-general>
      </div>
    </mat-tab>
    <mat-tab label="Graficas">
      <div class="example-large-box mat-elevation-z4">
        <app-grafica [fileName]="recordsId"></app-grafica>
      </div>
    </mat-tab>

    <mat-tab label="Tabla de registros">
      <div class="example-large-box mat-elevation-z4">
        <app-records-table [fileName]="recordsId"></app-records-table>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
