<div class="container-fluid">

  <div class="row pt-3 pb-2 bg-default-color">
    <div class="col-6">
      <img ngSrc="assets/Logo.svg" height="40" width="40" class="img-thumbnail mx-2"
           style="cursor: pointer"
           [routerLink]="['/homepage']">
      <span class="h5">Usuarios</span>
    </div>
    <div class="col-6">
      <span class="float-end link-info" [routerLink]="['/usuarios', currentUser.id]">{{ this.currentUser.name }} {{ this.currentUser.lastName }}</span>
    </div>
  </div>

  <div class="row">
    <div class="col py-2">
      <button class="btn bg-button-red w-25 h-75 border-botton-homepage m-2 shadow" (click)="goBack()">
        <span class="">Regresar</span>
      </button>
      <button class="btn bg-button-color w-25 h-75 border-botton-homepage  shadow" [routerLink]="['crear']"><span class="">Crear usuario</span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let user of users">
      <div class="card h-100 shadow">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }} {{ user.lastName }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
          <p class="card-text">Teléfono: {{ user.phone }}</p>
          <p class="card-text">Administrador: {{ user.isAdministrator ? 'Sí' : 'No' }}</p>
        </div>
        <div class="card-footer">
          <button class="btn bg-button-red w-25 border-botton-homepage m-2 shadow" (click)="deleteUser(user)">Eliminar</button>
          <button class="btn bg-button-color w-25 border-botton-homepage m-2 shadow" [routerLink]="[user.id]">Editar</button>
        </div>
      </div>
    </div>
  </div>


</div>
